<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  <% include common/header%>
  </head>
  <body>
  <% include common/navigation%>
<div class="container" style="margin-top:50px;">

<div class="page-header">
  <h3><%= article.title %> <small><%= article.publishtime %></small></h3>
</div>
<div class="row">
	<div class="col-md-8">
		<%= article.content %>
	</div>
	<div class="col-md-4">
	
	
	</div>
</div>

  
  
  
  
  </body>
</html>