	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="<%= keywords %>">
	<meta name="description" content="<%= description %>">
	<meta name="author" content="<%= author %>">
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/css/bootstrap-theme.min.css' />
	<style>
	body{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;}
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
	pre code { background: transparent; }
	</style>
	<script type="text/javascript" src="/lib/jquery/jquery-1.7.2.min.js"></script>